# Factors are used to represent categorical data and can be unordered or ordered. An example might be “Male” and “Female” if we consider gender. Factor objects can be created with the factor() function.

In [1]:
data = c(1,2,2,3,1,2,3,3,1,2,3,3,1)

In [2]:
fdata = factor(data)

In [3]:
fdata

 [1] 1 2 2 3 1 2 3 3 1 2 3 3 1
Levels: 1 2 3

In [4]:
rdata = factor(data,labels=c("I","II","III"))

In [5]:
rdata

 [1] I   II  II  III I   II  III III I   II  III III I
Levels: I II III

In [6]:
levels(fdata) = c('I','II','III')

In [7]:
fdata

 [1] I   II  II  III I   II  III III I   II  III III I
Levels: I II III

In [8]:
mons = c("March","April","January","November","January",
 "September","October","September","November","August",
"January","November","November","February","May","August",
 "July","December","August","August","September","November",
"February","April")

In [9]:
mons

 [1] "March"     "April"     "January"   "November"  "January"   "September"
 [7] "October"   "September" "November"  "August"    "January"   "November"
[13] "November"  "February"  "May"       "August"    "July"      "December"
[19] "August"    "August"    "September" "November"  "February"  "April"

In [10]:
mons = factor(mons) # vector converted into factor

In [11]:
table(mons)

mons
    April    August  December  February   January      July     March       May
        2         4         1         2         3         1         1         1
 November   October September
        5         1         3

In [12]:
mons

 [1] March     April     January   November  January   September October
 [8] September November  August    January   November  November  February
[15] May       August    July      December  August    August    September
[22] November  February  April
11 Levels: April August December February January July March May ... September

In [13]:
str(mons)

 Factor w/ 11 levels "April","August",..: 7 1 5 9 5 11 10 11 9 2 ...

In [14]:
fert = c(10,20,20,50,10,20,10,50,20)

In [15]:
fert = factor(fert,levels=c(10,20,50),ordered=TRUE)

In [16]:
fert

[1] 10 20 20 50 10 20 10 50 20
Levels: 10 < 20 < 50

In [17]:
 mean(fert)

Warning message in mean.default(fert):
"argument is not numeric or logical: returning NA"

[1] NA

In [18]:
mean(as.numeric(levels(fert)[fert]))

[1] 23.33333