# A vector is a one‐dimensional set of values, all the same type. It’s the smallest unit you can work with in R. A single value is technically a vector as well — a vector with only one element.

## Looking at the structure of a vector

In [1]:
v1<-c(1,3,7,9,11)

In [2]:
str(v1)

 num [1:5] 1 3 7 9 11

In [18]:
length(v1)

[1] 5

In [19]:
authors<-c("a1","a2","a3")

In [20]:
str(authors)

 chr [1:3] "a1" "a2" "a3"

In [3]:
is.numeric(v1)

[1] TRUE

In [22]:
is.numeric(authors)

[1] FALSE

In [23]:
is.character(authors)

[1] TRUE

In [5]:
x <- c(1,2,3,4,5) #double

In [6]:
print(x)

[1] 1 2 3 4 5

In [8]:
l <- c(TRUE, FALSE) #logical

In [7]:
a<-c(1,2)
print(a)

[1] 1 2

In [9]:
print(l)

[1]  TRUE FALSE

In [26]:
l <- c(T, F) ## logical

In [33]:
print(l)

[1]  TRUE FALSE

In [27]:
c <- c("a", "b", "c", "d") ## character

In [34]:
print(c)

[1] "a" "b" "c" "d"

In [10]:
i <- 1:20 ## integer

In [35]:
print(i)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

 [1] "1 TRUE a 1"   "2 FALSE b 2"  "3 TRUE c 3"   "4 FALSE d 4"  "5 TRUE a 5"
 [6] "1 FALSE b 6"  "2 TRUE c 7"   "3 FALSE d 8"  "4 TRUE a 9"   "5 FALSE b 10"
[11] "1 TRUE c 11"  "2 FALSE d 12" "3 TRUE a 13"  "4 FALSE b 14" "5 TRUE c 15"
[16] "1 FALSE d 16" "2 TRUE a 17"  "3 FALSE b 18" "4 TRUE c 19"  "5 FALSE d 20"

# You can see the type of each vector using typeof() function

In [36]:
typeof(c)

[1] "character"

# Creating a vector using : operator:

In [11]:
x<- 1:10
x
typeof(x)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "integer"

# Creating a vector using seq() function:

In [2]:
seq(1:25) #By deafaut it will be incremented by 1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [4]:
seq(1, 25, length.out=10) # specify length of the vector

 [1]  1.000000  3.666667  6.333333  9.000000 11.666667 14.333333 17.000000
 [8] 19.666667 22.333333 25.000000

In [7]:
seq(3, 20, by=3) # specify step size

[1]  3  6  9 12 15 18

# Combining vectors

In [8]:
baskets.of.Granny <- c(12, 4, 4, 6, 9, 3)

In [11]:
baskets.of.Geraldine <- c(5, 3, 2, 2, 12, 9)

In [14]:
s <-c(baskets.of.Granny, baskets.of.Geraldine)

In [15]:
s

 [1] 12  4  4  6  9  3  5  3  2  2 12  9

# Repeating vectors

In [46]:
rep(c(0, 0, 7), times = 3)

[1] 0 0 7 0 0 7 0 0 7

In [47]:
rep(c(2, 4, 2), each = 3)

[1] 2 2 2 4 4 4 2 2 2

In [48]:
rep(c(0, 7), times = c(4, 2))

[1] 0 0 0 0 7 7

In [17]:
rep(1:3, length.out = 70)

 [1] 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2
[39] 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1

In [20]:
v<-25:1

In [21]:
v

 [1] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

# Extract Elements from a Vector:

## Elements of a vector can be accessed using indexing. The vector indexing can be logical, integer or character. The [ ] brackets are used for indexing. Indexing starts with position 1 unlike most programming languages where index start from 0.

# Extract Using Integer as Index:

In [22]:
x<- 101:110

In [23]:
x

 [1] 101 102 103 104 105 106 107 108 109 110

In [25]:
x[3]   #access the first element

[1] 103

In [28]:
x[c(2,5)] #Extract 2nd, 3rd, 4th, and 5th elements

[1] 102 105

In [26]:
x[5:10]        #Extract all elements from 5th to 10th

[1] 105 106 107 108 109 110

In [57]:
x[c(-5,-10)] #Extract all elements except 5th and 10th

[1] 101 102 103 104 106 107 108 109

In [58]:
x[-c(5:10)] #Extract all elements except from 5th to 10th

[1] 101 102 103 104

# Extract Using Logical Vector as Index:

## If you use a logical vector for indexing, the position where the logical vector is TRUE will be returned.

In [29]:
x[x < 105]

[1] 101 102 103 104

In [60]:
x[x>=104]

[1] 104 105 106 107 108 109 110

# Extract Using Character Vector as Index:

In [32]:
x<- c("R"=40,"Python"=30,"Java"=35)

In [38]:
x[1]
names(x)

 R
40

[1] "R"      "Python" "Java"

In [36]:
y<-c(55,65,75)
names(y)

NULL

In [37]:
names(y)<-c("Eng","Maths","Science")
names(y)

[1] "Eng"     "Maths"   "Science"

In [72]:
x["R"]

R
1

In [73]:
y["Maths"]

Maths
   65

In [39]:
x[c("Java","Python")]

  Java Python
    35     30

In [42]:
month.days <- c(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)

In [120]:
month.names<-c('Jan','Feb','Mar')

In [43]:
names(month.days) <- month.name # month.name is inbuilt

In [44]:
month.days

  January  February     March     April       May      June      July    August
       31        28        31        30        31        30        31        31
September   October  November  December
       30        31        30        31

In [123]:
names(month.days[month.days == 31])

[1] "January"  "March"    "May"      "July"     "August"   "October"  "December"

## You use the names() function to retrieve the names of a named vector

## take a look at the built‐in dataset islands, a named vector that contains the surface area of the world’s 48 largest land masses (continents and large islands).

In [124]:
str(islands)

 Named num [1:48] 11506 5500 16988 2968 16 ...
 - attr(*, "names")= chr [1:48] "Africa" "Antarctica" "Asia" "Australia" ...

In [125]:
islands[c('Asia','Africa','Antarctica')]

      Asia     Africa Antarctica
     16988      11506       5500

In [126]:
names(islands)[1:9]

[1] "Africa"       "Antarctica"   "Asia"         "Australia"    "Axel Heiberg"
[6] "Baffin"       "Banks"        "Borneo"       "Britain"

In [127]:
names(sort(islands, decreasing = TRUE)[1:6])

[1] "Asia"          "Africa"        "North America" "South America"
[5] "Antarctica"    "Europe"

In [128]:
names(sort(islands, decreasing = TRUE))

 [1] "Asia"             "Africa"           "North America"    "South America"
 [5] "Antarctica"       "Europe"           "Australia"        "Greenland"
 [9] "New Guinea"       "Borneo"           "Madagascar"       "Baffin"
[13] "Sumatra"          "Honshu"           "Britain"          "Ellesmere"
[17] "Victoria"         "Celebes"          "New Zealand (S)"  "Java"
[21] "New Zealand (N)"  "Cuba"             "Newfoundland"     "Luzon"
[25] "Iceland"          "Mindanao"         "Ireland"          "Novaya Zemlya"
[29] "Hispaniola"       "Hokkaido"         "Moluccas"         "Sakhalin"
[33] "Tasmania"         "Celon"            "Banks"            "Devon"
[37] "Tierra del Fuego" "Axel Heiberg"     "Melville"         "Southampton"
[41] "New Britain"      "Spitsbergen"      "Kyushu"           "Taiwan"
[45] "Hainan"           "Prince of Wales"  "Timor"            "Vancouver"

In [129]:
sort(islands, decreasing = TRUE)

            Asia           Africa    North America    South America
           16988            11506             9390             6795
      Antarctica           Europe        Australia        Greenland
            5500             3745             2968              840
      New Guinea           Borneo       Madagascar           Baffin
             306              280              227              184
         Sumatra           Honshu          Britain        Ellesmere
             183               89               84               82
        Victoria          Celebes  New Zealand (S)             Java
              82               73               58               49
 New Zealand (N)             Cuba     Newfoundland            Luzon
              44               43               43               42
         Iceland         Mindanao          Ireland    Novaya Zemlya
              40               36               33               32
      Hispaniola         Hokkaido         Moluccas         Sakhalin
              30               30               29               29
        Tasmania            Celon            Banks            Devon
              26               25               23               21
Tierra del Fuego     Axel Heiberg         Melville      Southampton
              19               16               16               16
     New Britain      Spitsbergen           Kyushu           Taiwan
              15               15               14               14
          Hainan  Prince of Wales            Timor        Vancouver
              13               13               13               12

# Modify a Vector in R:

In [75]:
x<- 10:12
x

[1] 10 11 12

In [76]:
x[1]<- 101 #Modify the first element

In [77]:
x

[1] 101  11  12

In [78]:
x[2]<-102 #Modify the 2nd element

In [79]:
x

[1] 101 102  12

In [80]:
x<- x[1:2] #Truncate the last element

In [81]:
x

[1] 101 102

## You can delete a vector by simply assigning a NULL to it.

In [82]:
x<- NULL

In [83]:
x

NULL

# Arithmetic Operations on Vectors:

# You can use arithmetic operation in two vectors of same length. They can be added, subtracted, multiplied or divided.

In [85]:
# Create two vectors.
v1 <- c(1:10)
v2 <- c(101:110)

# Vector addition.
add.result <- v1+v2
print(add.result)

# Vector substraction.
sub.result <- v2-v1
print(sub.result)

# Vector multiplication.
multi.result <- v1*v2
print(multi.result)

# Vector division.
divi.result <- v2/v1
print(divi.result)

 [1] 102 104 106 108 110 112 114 116 118 120
 [1] 100 100 100 100 100 100 100 100 100 100
 [1]  101  204  309  416  525  636  749  864  981 1100
 [1] 101.00000  51.00000  34.33333  26.00000  21.00000  17.66667  15.28571
 [8]  13.50000  12.11111  11.00000

# How to Sort a Vector in R?

## You can sort vectors using the sort() function. By default, it sorts in ascending order. To sort in descending order you can pass decreasing=TURE as parameter.

In [86]:
x<- 110:101
x

 [1] 110 109 108 107 106 105 104 103 102 101

In [87]:
y<-sort(x)
y

 [1] 101 102 103 104 105 106 107 108 109 110

In [88]:
z<-sort(y, decreasing=TRUE)
z

 [1] 110 109 108 107 106 105 104 103 102 101

# Find Minimum and Maximum in a Vector:

In [90]:
x<- 1001:1010
x
max(x) # Find the maximum
min(x) # Find the minimum
range(x) #Find the range

 [1] 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010

[1] 1010

[1] 1001

[1] 1001 1010

# Find Where the Minimum or Maximum is Located in a Vector?

In [91]:
which.min(x) #Find index of minimum

[1] 1

In [92]:
which.max(x) #Find index of maximum

[1] 10

In [93]:
x[which.min(x)] #You can find the minimum value by using this also

[1] 1001

# Using arithmetic vector operations

In [94]:
x <- c(3, 6, 2, 5, 1)

In [95]:
sum(x)

[1] 17

In [96]:
y <- c(3, 6, 2, NA, 1)

In [97]:
sum(y)

[1] NA

In [98]:
sum(y, na.rm = TRUE)

[1] 12

In [99]:
cumsum(x)

[1]  3  9 11 16 17

In [100]:
cummax(x)

[1] 3 6 6 6 6

In [101]:
prod(x)

[1] 180

In [102]:
min(x)

[1] 1

In [103]:
cummin(x)

[1] 3 3 2 2 1

In [104]:
diff(x)

[1]  3 -4  3 -4

# Using Character Vectors for Text Data

In [106]:
x <- 'Hello world!'

In [107]:
is.character(x)

[1] TRUE

In [108]:
length(x)

[1] 1

In [109]:
nchar(x)

[1] 12

In [110]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [111]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [114]:
LETTERS[3:10]

[1] "C" "D" "E" "F" "G" "H" "I" "J"

In [115]:
letters[10]

[1] "j"

In [116]:
tail(LETTERS, 5)

[1] "V" "W" "X" "Y" "Z"

In [117]:
head(letters, 10)

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

# Manipulating Text

## Splitting text

In [130]:
str<-"Hello. I am enjoying programming with R"

In [131]:
str

[1] "Hello. I am enjoying programming with R"

In [132]:
strsplit(str,"")

[[1]]
 [1] "H" "e" "l" "l" "o" "." " " "I" " " "a" "m" " " "e" "n" "j" "o" "y" "i" "n"
[20] "g" " " "p" "r" "o" "g" "r" "a" "m" "m" "i" "n" "g" " " "w" "i" "t" "h" " "
[39] "R"

In [133]:
strsplit(str," ")

[[1]]
[1] "Hello."      "I"           "am"          "enjoying"    "programming"
[6] "with"        "R"

## Notice that the unusual first line of strsplit()’s output consists of [[1]]. Similar to the way that R displays vectors, [[1]] means that R is showing the first component of a list. Lists are extremely important concepts in R; they allow you to combine all kinds of variables. In the preceding example, this list has only a single component. Yes, that’s right: The list has one component, but that component is a vector. To extract a component from a list, you have to use double square brackets.

In [135]:
strsplit(str," ")[[1]]

[1] "Hello."      "I"           "am"          "enjoying"    "programming"
[6] "with"        "R"

In [136]:
words<-"ProGraM"

In [137]:
unique(tolower(words))

[1] "program"

In [138]:
unique(toupper(words))

[1] "PROGRAM"

# To concatenate text, use the paste() function

In [140]:
paste('Hello.', 'I' ,'am', 'enjoying' ,'programming' ,'with', 'R')

[1] "Hello. I am enjoying programming with R"

In [141]:
paste("course",1:5)

[1] "course 1" "course 2" "course 3" "course 4" "course 5"

In [142]:
words<-c('Hello.', 'I' ,'am', 'enjoying' ,'programming' ,'with', 'R')

In [143]:
paste(words)

[1] "Hello."      "I"           "am"          "enjoying"    "programming"
[6] "with"        "R"

In [147]:
paste(words, collapse=" ")

[1] "Hello. I am enjoying programming with R"

In [145]:
paste(words, collapse="*")

[1] "Hello.*I*am*enjoying*programming*with*R"

In [146]:
paste(words, collapse="_")

[1] "Hello._I_am_enjoying_programming_with_R"

In [148]:
paste(LETTERS[1:5],1:5)

[1] "A 1" "B 2" "C 3" "D 4" "E 5"

In [149]:
sort(words)

[1] "am"          "enjoying"    "Hello."      "I"           "programming"
[6] "R"           "with"